@model CarrinhodeCompras.Models.Categoria

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default btn-sm">Editar</a>
    <a asp-action="Index" class="btn btn-default btn-sm">Voltar</a>
</p>
